@font-face {
    font-family: site-font;
    src: url('./fonts/Sansation-Light.ttf');
}

body {
    font-family:  site-font;
    transition: background-color 0.3s, color 0.3s;
    margin: 1% 10% 0% 10%; /* Top, right, bottom, left */
}

.light-mode {
    background-color: #f7f7f7;
    color: #000000;
}

.dark-mode {
    background-color: #000;
    color: #ffffff;
}

.header {
    font-size: 3vh;
    font-weight: bold;
}

@media (max-width: 600px) {
    .header {
        font-size: 3vh;
    }
}

.smallheader{
    font-size: 3vh;
    color: #FF1801;
}



.light {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark {
    color: #ffffff;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(26, 26, 26, 0.1);
}


.link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the color the same as the parent element */
    font-weight: bold;
}

.link:hover, .link:focus {
    text-decoration: none; /* Removes underline on hover */
    color: inherit; /* Keeps the color unchanged */
}

.centre {
    text-align: center;
}

.navbar {
    display: flex;
    /* justify-content: space-between; */
}

.nav-card {
    /* background-color: #ffff; */
    border-radius: 8px;
    padding: 0 2em 0 2em; /* Top, right, bottom, left */ 
}

.profile-image {
    height: 2em;
    width: 2em;
}

.centre-vert {
    display: flex;
    align-items: center;
}

.split{
    margin-top: 10px;
    margin-bottom: 10px;
}

.justify-content {
    display: flex;
}

.button-red:hover{
    color: #FF1801;
}

.button-white:hover{
    color: #fff;
    background-color: #FF1801;
}

.button-white{
    color: #FF1801;
    background-color: #fff;
}

.button{
    width: 20em; 
    border-radius: 5px; 
    height: 5vh;
    font-family: site-font;
    font-weight: bold;
    font-size: 2vh;
    border-width: 2px;

}

.card-top-bottom{
    padding-top: 1em;
    padding-bottom: 1em;

}

.table {
    width: 100%;
    border-collapse: collapse;
}

.plot {
    width: auto;
    height: 75vh;
}

.centreDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    border-radius: 5px;
    border-width: 2px;
    height: 5vh; 
    font-family: site-font; 
    width: 20em; 
    font-size: 2.5vh;
    padding-left: 1vh;
}

.form-title{
    font-weight: bold;
    font-size: 5vh;
}

.card-padding{
    padding: 1em;
}