{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="nav-card light card-padding">
    <p class="header centre">About</p>
    <p class="centre">This web app has two main features:</p>
    <p class="centre">1. Ability to view and create data dashboards for any formula race in the fastf1 api.</p>
    <p class="centre">2. Ability to apply/see predictions from machine learning models. </p>

    <br>
    <br>

    <p class="centre">I am currently a uni student, who is looking to create a webapp that can showcase my skills in web development, machine learning and data analysis. </p>
    <p class="centre">My aims for this project are to:</p>
    <p class="centre">1. Create a webapp that can be used by anyone to view and create data dashboards. </p>
    <p class="centre">2. Create a webapp that is dynamic, I am using custom CSS over bootstrap or tailwind, so I can make a fully custom css toolkit for myself.</p>
    <p class="centre">3. Create a webapp that can be used to showcase my machine learning skills. </p>
    <p class="centre">4. Create a webapp that can be used by anyone to use my models to make predictions for different races, based on perimeters given </p>
    <p class="centre">5. Create a webapp that can be used to showcase my data visualisation skills. </p>
    <p class="centre">6. Create a fully functional website for others to create data dashboards. </p>

    <p class="centre">Remember! This is a working progress ...</p>
</p>
</div>

{% endblock %}