{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="title-padding navbar centre-vert" style="gap: 2.5%;">
    <p class="smallheader centre bold no-text-wrap">Welcome to PredictF1</p><div class="red-line w-100"></div>
</div>
<div class="navbar" style="gap: 2.5%;">
    <div class="nav-card light w-100" style="padding-left: 2.5%;padding-right:2.5%;">
        <p class="header bold">About PredictF1</p>
        <p class="bold">Welcome to PredictF1</p>
        <p>This is a one-stop platform for all your Formula 1 information needs.</p>
        <ul>
            <li>Access detailed information about past and present Formula 1 races.</li>
            <br>
            <li>Explore machine learning models predicting:
                <ul>
                    <li>Race strategies</li>
                    <li>Race and Qualifying results</li>
                    <li>Driver and Constructor standings</li>
                </ul>
            </li>
        </ul>
        <p class="bold">Why?</p>
        <ul>
            <li>Create a data visualization and prediction tool</li>
            <br>
            <li>Show off useful information for F1 fans</li>
            <br>
            <li>Demonstrate how data science and machine learning can unlock new perspectives in the world of motorsport</li>
        </ul>
    </div>
    <div class="nav-card light w-100" style="padding-left: 2.5%;padding-right:2.5%;">
        <p class="header bold">About Me</p>
        <p class="bold">Hi, I'm David</p>
        <p>I'm an electronic and software engineering student who is passionate about technology and motorsport.</p>
        <p>This website is more than a project, its a reflection of my skills and interests, including:</p>
        <ul>
            <li>Web Development: Crafting intuitive and interactive interfaces.</li>
            <li>Machine Learning: Developing data-driven models for real-world applications.</li>
        </ul>

        <p>I’ve always been fascinated by how technology drives innovation in F1, and this platform allows me to merge my expertise with my passion.</p>

        <p>Feel free to explore the website and let me know what you think!</p>

        <p class="bold">Let's Connect</p>
        <ul>
            <li>Add me on linkedin: <a class="link button-red" href="https://www.linkedin.com/in/-davidmead-/">LinkedIn</a></li>
            <li>To look at the source code: <a class="link button-red" href="https://github.com/DavidMead182/f1MachineLearning">GitHub</a></li>
        </ul>
    </div>
</div>

{% endblock %}