{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>PredictF1 - {% block title %} {% endblock %}</title>

    <script>
        function toggleTheme() {
            var themeImage = document.getElementById("theme_switch");
            var profileImage = document.getElementById("profile_image");

            var currentSrc = themeImage.src;
            var currentFilename = currentSrc.split('/').pop();
            var body = document.body;
            var cards = document.querySelectorAll('.card');

            if (currentFilename === "sun.png") {
                themeImage.src = "{% static 'moon.png' %}";
                if (profileImage) {
                    profileImage.src = "{% static 'light-profile-icon.png' %}";
                }
                body.classList.remove('light-mode');
                body.classList.add('dark-mode');
                cards.forEach(function(card) {
                    card.classList.remove('light');
                    card.classList.add('dark');
                });
            } else {
                themeImage.src = "{% static 'sun.png' %}";
                if (profileImage) {
                    profileImage.src = "{% static 'profileicon.png' %}";
                }
                body.classList.remove('dark-mode');
                body.classList.add('light-mode');
                cards.forEach(function(card) {
                    card.classList.remove('dark');
                    card.classList.add('light');
                });
            }

            return false;
        }
    </script>

</head>

<body class="light-mode">
    <div class="card light">
        <div class="navbar centre-vert">
            <div class = "navbar centre-vert">
            <a  href="{% url 'index' %}" class ="link header"><p class="button-red">PredictF1</p></a>
            <p class="centre-vert" style="padding-right: 20px; padding-left: 5px; color: #FF1801; font-size: 25px;">|<p>
            <a href="{% url 'login' %}" class ="link smallheader"><p class="button-red">About</p></a>
            <div style="margin-right: 20px;"></div>
            <a href="{% url 'login' %}" class ="link smallheader"><p class="button-red">Next Steps</p></a>
            </div>
            <div class="navbar centre-vert">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class ="link"><p><img id="profile_image" class="profile-image" src="{% static 'profileicon.png' %}" alt="Profile Picture"></a></p>
                {% endif %}
                <div style="margin-right: 20px;"></div>
                <img class="profile-image" id="theme_switch" src="{% static 'sun.png' %}" alt="Theme Image" onmouseup="toggleTheme()">
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;"></div>
    {% if not user.is_authenticated %}
    <div class="card light">
        <div class="navbar centre-vert centre">
            <a href="{% url 'login' %}" class ="link button-red"><p>Login</p></a>
            <a href="{% url 'signup' %}" class ="link button-red"><p>Sign Up</p></a>
        </div>
    </div>
    {% endif %}
    <div style="margin-top: 20px;"></div>
    {% block content %}
    {% endblock %}
    <footer>
    </footer>

</body>
</html>