{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'base.js' %}"></script>

    <title>PredictF1 - {% block title %} {% endblock %}</title>

</head>

<body class="light-mode">
    <div class="navbar">
        <div class="nav-card light navbar centre-vert card-margin w-100">
            <a href="{% url 'index' %}" class="link header">
                <p class="header button-red">PredictF1</p>
            </a>
            <div style="margin-right: 2%;"></div>

            <p class="nav-line">|</p>

            <button class="nav-card light menu-button button-red hover-grow" onclick="toggleMenu()" style="margin-left: auto;">☰</button>

            <div class="nav-card navbar centre-vert light" id="menu-div">
                <a href="{% url 'about' %}" class="link button-red pr-5">
                    <p class="button-red">About</p>
                </a>
                <a href="{% url 'nextSteps' %}" class="link button-red pr-5" >
                    <p class="button-red no-text-wrap">Next Steps</p>
                </a>
                <a href="{% url 'dashboards' %}" class="link button-red pr-5">
                    <p class="button-red">Dashboards</p>
                </a>
            </div>
        </div>
        <div style="margin-right: 2%;"></div>

        <div class="nav-card navbar light centre-vert card-margin centre" style="justify-content: space-between;">
            {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="link button-red pr-5 centre" >
                        <p>Login</p>
                    </a>
                    <a href="{% url 'signup' %}" class="link button-red pr-5 centre" >
                        <p class="no-text-wrap">Sign Up</p>
                    </a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link centre pr-5">
                    <img id="profile_image" class="profile-image hover-grow" src="{% static 'profileicon.png' %}" alt="Profile Picture">
                </a>
            {% endif %}
            <img class="profile-image hover-grow" id="theme_switch" src="{% static 'sun.png' %}" alt="Theme Image" onmouseup="toggleTheme()">
        </div>
    </div>

    <div style="padding-top: 1vh; padding-bottom: 1vh;">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>
