{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>PredictF1 - Homepage</title>
</head>

<body>
    <div class="card">
        <div class="navbar centre-vert">
            <a href="" class ="link"><h1>PredictF1</h1></a>
            <a href="" class ="link"><h1><img class="profile-image" src="{% static 'profileicon.png' %}" alt="Profile Picture"></a></h1>
        </div>
    </div>

    <div class="card" style="margin-top: 10px;">
        <div class="centre">
            <h2>Most Recent Race Dashboard</h2>
        </div>
        <div class="centre">
            <img src="{% static 'profileicon.png' %}" alt="Profile Picture">
        </div>
    <footer>
    </footer>

</body>
</html>