{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="centreDiv centre-vert">
    <div class="nav-card light card-top-bottom centreDiv centre-vert registration-box" style="width: 25em; padding-bottom: 5%;">
        <!-- Login form -->
        <form method="POST" action="">
            {% csrf_token %}
            <p class="smallheader centre form-title">Login</p>
            <label class="header" for="username">Username:</label>
            <br>
            <input type="text" class="input-box" name="username" placeholder="Username" required />
            <br>
            <br>
            <label class="header" for="password">Password:</label>
            <br>
            <input type="password" class="input-box" name="password" placeholder="Password" required />
            <br>
            <br>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            <div class="centreDiv centre">
                <input class="button-white button w-100"  type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>
{% endblock %}