{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card light card-top-bottom">
    <!-- Login form -->
    <form method="POST" action="">
        {% csrf_token %}
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Login" />
    </form>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endblock %}