{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="centreDiv">
    <div class="nav-card light card-top-bottom centreDiv registration-box" style="width: 25em; padding-bottom:5%">
        <form action="" method="POST"">
            <p class="smallheader centre form-title">Sign Up</p>
            {% csrf_token %}
            <label class="header" for="username">Username:</label>
            <br>
            <input type="text" class="input-box" name="username" placeholder="Username" required />
            <br>
            <br>
            <label class="header" for="email">Email:</label>
            <br>
            <input type="email" class="input-box" name="email" placeholder="Email" required />
            <br>
            <br>
            <label class="header" for="password1">Password:</label>
            <br>
            <input type="password" class="input-box" name="password1" placeholder="Password" required />
            <br>
            <br>
            <label class="header" for="password2">Confirm Password:</label>
            <br>
            <input type="password" class="input-box" name="password2" placeholder="Confirm Password" required />
            <br>
            <br>
            {% for message in messages %}

            <p>{{ message }}</p>

            {% endfor %}
            <div class="centreDiv centre">
                <input type="submit" class="button-white button w-100" name="Create User" />
            </div>
        </form>

    </div>
</div>
{% endblock %}